#pa{
	text-align: center;
	background-color: #CC1000;
}
#pe{
	list-style: none;
	text-align: center;
	font-family: Verdana;
	color: white;
	
}
#pi{
	font-family: Verdana;
}

h3{
	text-align: center;
}
#img{
	text-align: center;
}
vi{
	text-align: center;
	font-family: Verdana;
}
